.row{
    margin-top: 10px;
}
.container{
    margin-top: 10px;
}
.form{
    margin-top: 80px;
    padding: 70px 20px;
}
.forms{
    margin-top: 50px;
    padding: 50px 20px;
}
.head{
    font-weight: bold;
    font-size: 25px;
    margin-top: -20px;
}
.log{
    color: white;
    font-size: 20px;
    border-radius: 10px;
}
.log:hover{
    background-color: rgb(17, 31, 26);
}
.reg{
    font-size: 20px;
    margin-left: 10px;
    border-radius: 10px;
}
.reg:hover{
    background-color: rgb(17, 31, 26);
}